<html>
<head>
<title>Access Denied</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta charset="UTF-8">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">

</head>
<body style="background-color: #e3f2fd;">
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center mb-5">
        <main role="main" class="inner cover">
          <img src ="/{{path}}/asset/logo.png" class="img-fluid"/>
          <h1 class="cover-heading">
              Oops!</h1>
          <h2>
              {{data}}</h2>
          <div class="error-details">
              Sorry, an error has occured, Requested page not found!
          </div>
        </main>
    </div>
</body>
</html>
