{% block head %}
<html>
<head>
<title>{%block title%}{%endblock%}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta charset="UTF-8">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">


</head>
<body style="background-color: #e3f2fd;">
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <img src ="/{{path}}/asset/logo.png" class="img-fluid"/>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link" href="/{{path}}/index.php/home?ses={{remote_session}}">Home</a>
                <a class="nav-link" href="/{{path}}/index.php/settings?token={{token}}&ses={{remote_session}}">Settings</a>
              </div>
            </div>
          </div>
        </nav>
{% endblock head %}
{% block content %}{% endblock content %}
{% block footer %}

        <footer class="mastfoot mt-auto">
          <div class="inner">
            <p>Boliperplate for <a href="http://sleekshop.io">Sleekshop</a>.</p>
          </div>
        </footer>
    </div>
</body>
</html>
{% endblock footer %}
