{% extends "page.html" %}
{%block title%}Home{%endblock%}
{%block content%}
<main role="main" class="inner cover mt-5 container">
  <h1 class="cover-heading">{{data}}</h1>
  <form action="" method="post" class="col-md-6">
    <div class="form-group">
      <label for="exampleInputEmail1">SERVER</label>
      <input type="text" class="form-control" id="SERVER" name ="SERVER" value="{{config_data.SERVER}}">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">LICENCE USERNAME</label>
      <input type="text" class="form-control" id="LICENCE_USERNAME" name ="LICENCE_USERNAME" value="{{config_data.LICENCE_USERNAME}}">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">LICENCE PASSWORD</label>
      <input type="text" class="form-control" id="LICENCE_PASSWORD" name ="LICENCE_PASSWORD" value="{{config_data.LICENCE_PASSWORD}}">
    </div>
    <div class="form-group">
      <label for="APPLICATION_TOKEN">APPLICATION TOKEN</label>
      <input type="text" class="form-control" id="APPLICATION_TOKEN" name ="APPLICATION_TOKEN" value="{{config_data.APPLICATION_TOKEN}}">
    </div>
    <input type="hidden" name="remote_session" value="
    {{remote_session}}"/>
    <button type="submit" class="btn btn-primary" name="add">Submit</button>
  </form>
</main>
{%endblock%}
